main.contact
{
    section.hero
    {
    
        width: 100vw;
        height: 60vh;
        overflow: hidden;
        background-color: $background-1;
        // background-image: url('/public/images/hero.jpg');
        
    
       
        .hero__container
        {
            .hero__content
            {
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                color: $typo;
                .hero__content__title
                {
                    font-size: 5rem;
                    font-weight: 500;
                    text-align: center;
                    white-space: nowrap;
                    @include respond(mobile)
                    {
                        font-size: 3.5rem;
                    }
                }
                .hero__content__description
                {
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-align: center;
                    @include respond(mobile)
                    {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    
        .hero__cover 
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            filter: blur(10px);
        }
    }

    section.contact 
    {
        .container 
        {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 60px;

            margin: 80px 0;

            @include respond(tablet)
            {
                flex-direction: column;
                align-items: center;
                gap: 40px;
                flex-wrap: wrap;
            }
            @include respond(mobile)
            {
                flex-direction: column;
                align-items: center;
                gap: 60px;
                flex-wrap: wrap;
            }

          
               
            .bento__socials
            {
                flex-grow: 0;
                display: grid;
                // 3 rows 2 columnzs
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(2, 1fr);

                gap: 20px;

                @include respond(tablet)
                {
                    display: flex;
                    gap: 30px;
                    width: 100%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                }
                @include respond(mobile)
                {
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                }

                .social 
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $action;

                    width: 100px;
                    height: 100px;
                    border-radius: 8px;

                    flex-shrink: 0;

                    cursor: pointer;
                    transition: 0.4s $animation;
                    outline : 3px solid transparent;

                    @include respond('tablet')
                    {
                        width: auto;
                        flex-grow: 1;
                        min-width: 100px;
                    }

                    &.inscription
                    {
                        // takes the entire width of the row
                        grid-column: 1 / -1;
                        width: auto;
                        height: 60px;

                        text-decoration: none;
                        color: white;
                        background-color: $background-2;

                        padding: 8px 16px;
                        box-sizing: border-box;

                        @include respond(tablet)
                        {
                            width: 100%;

                        }

                        &:hover 
                        {
                            background-color: $typo;
                            color: $background-2;
                        }


                    }

                    &:hover 
                    {
                        background-color: transparent;
                        outline-color: $action;
                        svg 
                        {
                            path 
                            {
                                fill: $action;
                            }
                        }
                    }


                    svg 
                    {
                        width: 40px;
                        height: 40px;
                        path 
                        {
                            transition: 0.4s $animation;
                        }
                    }
                }
            }
            

            .form__container
            {
                display: flex;
                flex-direction: column;
                flex: 1;
                max-width: 760px;
                gap: 42px;

                @include respond(tablet)
                {
                    width: 100%;
                }

                .title__wrapper
                {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    
    
                    .title__bar
                    {
                        width: 90px;
                        height: 8px;
                        background-color: $background-2;
    
                        @include respond(mobile)
                        {
                           display: none;
                        }
                    }
    
                    h1 
                    {
                        font-size: 32px;
                        font-weight: 500;
                        color: $background-2;
                    }
                }
                form 
                {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .input__group
                    {
                        position: relative;
                        label 
                        {
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 22px;
                            font-weight: 400;
                            padding: 12px 12px 12px 16px;
                            opacity: 0.6;
                            background-color: white;
                            pointer-events: none;
                            border-radius: 8px;

                            transition: 0.4s $animation;
                        }
                        input, textarea
                        {
                            width: 100%;
    
                            font-size: 22px;
                            font-weight: 400;
                            color: $background-2;
                            font-family: "Montserrat";
    
                            background-color: transparent;
                            padding: 12px 12px 12px 16px;
                            box-sizing: border-box;
                            border-radius: 8px;
                            outline: 2px solid $action;
                            border: none;
                            position: relative;
    
                            &::placeholder 
                            {
                                font-size: 22px;
                                font-weight: 400;
                                color: $background-2;
                                font-family: "Montserrat";
                            }

                            &:focus 
                            {
                                + label 
                                {
                                    transform: translate(0, -50%) scale(0.8);
                                    opacity: 1; 
                                    padding: 0px 12px 4px 16px;
                                }
                            }

                        }
                    }
                    textarea 
                    {
                        resize: vertical;
                        max-height: 300px;
                        min-height: 100px;
                    }
                    span 
                    {
                        display: flex;
                        flex-direction: row-reverse;
                        @include respond(mobile)
                        {
                            width: 100%;
                        }
                        button 
                        {
                            font-size: 22px;
                            padding: 8px 24px;
                            font-family :"Montserrat";

                            @include respond(mobile)
                            {
                                width: 100%;
                                border-radius: 8px;
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
    }


    section.activities 
    {
        margin: 80px 0;
        .container
        {
            .activities__title__wrapper
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                margin-bottom: 40px;

                @include respond(tablet)
                {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                }

                @include respond(mobile)
                {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    button 
                    {
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        transform: translateY(-50%);
                    }
                }

                .title 
                {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .title__bar
                    {
                        width: 90px;
                        height: 8px;
                        background-color: $background-2;

                        @include respond(mobile)
                        {
                           display: none;
                        }
                    }

                    h1 
                    {
                        font-size: 32px;
                        font-weight: 500;
                        color: $background-2;
                    }
                }

                
            }


            .activities__content__wrapper
            {
                width: 100%;
                display: flex;
                flex-direction: column;

               

                .activities__wrapper 
                {
                    margin: 60px 0;
                    display: flex;
                    align-items :flex-start;
                    justify-content: space-between;
                    gap: 50px;
                    row-gap: 42px;
                    flex-wrap: wrap;
                    
                    
                    @include respond(tablet)
                    {
                        gap: 10px;
                    }
                    @include respond(mobile)
                    {
                        gap: 30px;
                    }
                    
                    .activities 
                    {
                        margin-bottom: 60px;
                        width: 400px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        @include respond(tablet)
                        {
                            width: 100%;
                        }
                        @include respond(mobile)
                        {
                            width: 100%;
                        }

                        .activites__image
                        {
                            width: 100%;
                            aspect-ratio: 16/9;
                            position: relative;
                            background-color: lightblue;
                            border-radius: 12px;
                            overflow: hidden;

                            img 
                            {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }
                        .activites__description
                        {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            .activites__title 
                            {
                                // deux lignes suivi de ...
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;



                                font-size: 22px;
                                font-weight: 400;

                            }
                            .activites__subtitle
                            {
                                font-size: 16px;
                                font-weight: 300;
                            }
                        }
                        
                    }
                    


                    

                }
            }

            .activities__arrows__buttons
            {
                
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 32px;
    
                    .arrow
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        background-color: $action;
                        outline: 1px solid $action;
                        
                        padding: 6px 20px; 
                        box-sizing: border-box;
                        border-radius: 14px;
                        overflow: hidden;
    
                        transition: 0.4s $animation;
    
                        .path-fill
                        {fill: $typo;}
                        .path-stroke
                        {stroke: $typo;}
    
                        &.swiper-button-disabled
                        {
                            background-color: $typo;
                            outline : 1px solid $disabled;
                            .path-fill
                            {fill: $disabled;}
                            .path-stroke
                            {stroke: $disabled;}
                        }
    
                        // if hover and not disabled
                        &:not(.swiper-button-disabled):hover 
                        {
                            background-color: $background-2;
                            outline: 1px solid $background-2;
                            cursor: pointer;
                        }
    
                    
                    }

                    .buttons__container
                    {
                        width: auto !important;
                        text-align: center;
                        
                            span
                            {
                                cursor: pointer;
                                background-color: $action;
                                outline: 1px solid $action;
                                border: none;
                                font-size: 16px;
                                
                                padding: 6px 20px; 
                                box-sizing: border-box;
                                border-radius: 14px;
                                overflow: hidden;
            
                                transition: 0.4s $animation;

                                color: white;
                                font-family: 'Montserrat';

                            
                            }
                            


                            &.swiper-pagination-bullet-active span
                            {
                                background-color: $typo;
                                outline : 1px solid $disabled;
                                color: $background-2;
                            }
                    }
            }
        }
    }


}