main.regles
{
    section.hero
    {
    
        width: 100vw;
        height: 60vh;
        overflow: hidden;
        background-color: $background-1;
        // background-image: url('/public/images/hero.jpg');
        

        @include respond(tablet)
        {
            height: 50vh;
        }

        @include respond(mobile)
        {
            height: 50vh;
        }
    
       
        .hero__container
        {
            .hero__content
            {
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                color: $typo;
                .hero__content__title
                {
                    font-size: 5rem;
                    font-weight: 500;
                    text-align: center;
                    white-space: nowrap;
                    text-transform: uppercase;
                    @include respond(mobile)
                    {
                        font-size: 3.5rem;
                    }
                }
                .hero__content__description
                {
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-align: center;
                    @include respond(mobile)
                    {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    
        .hero__cover 
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            filter: blur(10px);
        }
    }

    section.content
    {
        .container
        {
            padding: 86px 0;
            box-sizing: border-box;
            
            width: 100%;
            display: flex;
            flex-direction: column;

            gap: 54px;


            border-left: 2px solid $background-1;

            @include respond(mobile)
            {
                border-left: none;
            }

            .title
            {
                position: relative;

                h2 
                {
                    font-size: 32px;
                    font-weight: 500;
                    
                    padding: 0 56px;
                    box-sizing: border-box;

                    @include respond(tablet)
                    {
                        padding: 0 32px;
                    }
                    @include respond(mobile)
                    {
                        padding: 0;
                    }
                }
                .circle
                {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%) translateX(-50%);

                    

                    width: 60px;
                    height: 60px;

                    background-color: white;
                    outline: 3px solid $background-1;
                    border-radius: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .circle__in 
                    {
                        width: 20px;
                        height: 20px;
                        background-color: $background-1;
                        border-radius: 50%;
                    }

                    @include respond(tablet)
                    {
                        width: 40px;
                        height: 40px;

                        .circle__in 
                        {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    @include respond(mobile)
                    {
                        display: none;
                    }
                }
            }
            .description 
            {
                display: flex;
                flex-direction: column;
                gap: 40px;

                p 
                {
                    padding: 0 20px;
                    box-sizing: border-box;

                    font-size: 22px;
                    font-weight: 400;

                   

                    @include respond(mobile)
                    {
                        border-left: 1px solid $background-1;
                    }
                }
            }
        }
    }
}